<div class="flex-column height-100">
    <div class="canvas-container">
        <div class="canvas-wrapper">
            <svg class="svg-canvas" [ngClass]="{'cursor-moving' : draggingShape}" (click)="onSvgClick($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()">
                @for (s of shapes; track s) {
                    @if (s.type == 'rectangle') {
                        <rect 
                        [attr.x]="s.x"
                        [attr.y]="s.y"
                        [attr.rx]="s.rx"
                        [attr.ry]="s.ry"
                        [attr.width]="s.width"
                        [attr.height]="s.height"
                        [attr.fill]="s.fill"
                        [attr.stroke]="s.stroke"
                        [attr.stroke-width]="s.strokeWidth" 
                        (click)="onShapeClicked(s)"
                        (mousedown)="onMouseDown($event, s)"/>
                    } @else {
                        <polygon
                        [attr.points]="getPolygonPoints(s.points)"
                        [attr.fill]="s.fill"
                        [attr.stroke]="s.stroke"
                        [attr.stroke-width]="s.strokeWidth"
                        (mousedown)="onMouseDown($event, s)"
                        (click)="onShapeClicked(s)"/>
                    }
                }
            </svg>
            <div class="flex-row my-16 justify-center button-container">
                <button class="mr-16 btn" [ngClass]="addingRectangle ? 'btn-selected' : 'btn-primary'" (click)="addingShape('rectangle')">Adicionar Retângulo</button>
                <button class="mr-16 btn" [ngClass]="addingStar ? 'btn-selected' : 'btn-primary'" (click)="addingShape('star')">Adicionar Estrela</button>
                <button class="btn btn-delete" (click)="deleteAll()">Limpar Canvas</button>
            </div>
        </div>
        <div class="form-container">
            <form [formGroup]="form" class="flex-column">
                @if(shapeType() == 'rectangle' || shapeType() == 'star') {
                    @if (shapeType() == 'rectangle') {
                        <label class="mb-4">Curvatura do Retângulo</label>
                        <input class="mb-4"type="range" formControlName="roundControl" min="0" max="50"/>
                        <span class="mb-8">{{ form.value.roundControl }}</span>
                        <label class="mb-4">Redimensionar Figura</label>
                        <input class="mb-4" type="range" min="0.1" max="2" step="0.01" formControlName="shapeScale" />
                        <span class="mb-8">{{ form.value.shapeScale }}</span>
                    } @else if (shapeType() == 'star') {
                        <div class="flex-row">
                            <label class="mb-4">Número de Pontas</label>
                            <input class="mb-8 ml-auto" type="number" formControlName="starPoints" min="3" max="20" />    
                        </div>    
                        <label class="mb-4">Ângulo das Pontas</label>
                        <input class="mb-4" type="range" formControlName="starSlider" min="0" [max]="50" />
                        <span class="mb-8">{{ form.value.starSlider }}</span>
                        <label class="mb-4">Redimensionar Figura</label>
                        <input class="mb-4" type="range" min="0.1" max="2" step="0.01" formControlName="shapeScale" />
                        <span class="mb-8">{{ form.value.shapeScale }}</span>
                    }
                    <div class="flex-row">
                        <label class="mb-4">Espessura da Borda (px)</label>
                        <input class="mb-8 ml-auto" type="number" formControlName="strokeWidth" min="0" max="20" />
                    </div>
                    <div class="flex-row">
                        <label class="mb-4">Cor da Borda</label>
                        <input class="mb-8 ml-auto wth-125" formControlName="strokeColor" [(colorPicker)]="strokeColor"
                        (colorPickerChange)="onStrokeColorChange($event)" [style.background]="strokeColor" [cpOKButton]="true"/>
                    </div>
                    <div class="flex-row">
                        <label class="mb-4">Cor do Preenchimento</label>
                        <input class="mb-8 ml-auto wth-125" formControlName="fillColor" [(colorPicker)]="fillColor"
                        (colorPickerChange)="onFillColorChange($event)" [style.background]="fillColor" [cpOKButton]="true"/>
                    </div>
                    <div class="flex-row">
                        <button class="btn btn-primary mr-16" (click)="resetShape()">Voltar</button>
                        <button class="btn btn-delete" (click)="deleteShape()">Excluir forma</button>
                    </div>
                } @else {
                    <div class="text-left">
                        <h3 class="my-4">Instruções de uso</h3>
                        <p class="my-4">Para inserir uma figura:</p>
                        <ul class="my-4">
                            <li>Clique no botão embaixo do canvas para selecionar o tipo de forma</li>
                            <li>Clique no canvas na posição que deseja inserir a figura</li>
                        </ul>
                        <p class="my-4">Para editar uma figura:</p>
                        <ul class="my-4">
                            <li>Clique na figura que deseja editar</li>
                            <li>As opções de edição surgirão em um formulário</li>
                            <li>As alterações são salvas automaticamente</li>
                            <li>Ao terminar, clique no botão voltar</li>
                        </ul>
                        <p class="my-4">Para mover uma figura:</p>
                        <ul class="my-4">
                            <li>Clique e arraste uma figura para movê-la</li>
                        </ul>
                        <p class="my-4">Para apagar uma figura:</p>
                        <ul class="my-4">
                            <li>Clique na figura e depois na opção excluir</li>
                            <li>Também pode apagar todas as figuras usando a opção "limpar canvas"</li>
                        </ul>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
